language = "python3"
run = "Projet_IA/Code/tests/test_human.py"
#run = "python Projet_IA/Code/tests/test_state_morpion.py"
#run = python Projet_IA/Code/tools/outils.py
#run = python Projet_IA/Code/main_tests.py